
<div class="wrapper">
<section class="dashboards" cdkDropListGroup>
      <ng-container *ngFor="let column of columns()">
        <app-task-item *ngLet="(column.id | tasksByColumn) as tasks"
                class="dashboard"
                [tasks]="tasks()"
                [columnID]="column.id"
                cdkDropList
                [cdkDropListData]="tasks()"
                (cdkDropListDropped)="dropTask($event, column.id)"
                [id]="TaskState.New.toString()"
        >
        </app-task-item>
      </ng-container>
    </section>
</div>
