<div class="wrapper">
  <div class="settings-row">

    <button
      class="addColumnBtn"
      mat-mini-fab
      [matTooltip]="'Новая колонка'"
      (click)="openCreateColumnModal()"
    >
      <mat-icon>add</mat-icon>
    </button>

    <ng-select
      [items]="taskExecutioners()"
      [bindValue]="'id'"
      [searchFn]="executionerSearchFn"
      appendTo="body"
      placeholder="Исполнитель"
      [(ngModel)]="selectedTaskExecutionerId"
      (ngModelChange)="doFilter$.next()"
      *ngLet="selectedTaskExecutionerIdName() as tooltip"
      [matTooltip]="tooltip!"
      [matTooltipDisabled]="!tooltip"
    >
      <ng-template ng-label-tmp let-item="item"
        ><span>{{ getFio(item) }}</span></ng-template
      >
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <span
          [matTooltip]="getFio(item)"
          matTooltipClass="no-events"
          [ngOptionHighlight]="search"
          >{{ getFio(item) }}</span
        >
      </ng-template>
    </ng-select>
    <ng-select
      [items]="clientsOnTasks()"
      [bindValue]="'id'"
      [searchFn]="clientSearchFn"
      appendTo="body"
      placeholder="Клиент"
      [(ngModel)]="selectedClientOnTaskId"
      (ngModelChange)="doFilter$.next()"
      *ngLet="selectedClientOnTaskIdName() as tooltip"
      [matTooltip]="tooltip!"
      [matTooltipDisabled]="!tooltip"
    >
      <ng-template ng-label-tmp let-item="item"
        ><span>{{ getFio(item) }}</span></ng-template
      >
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <span
          [matTooltip]="getFio(item)"
          matTooltipClass="no-events"
          [ngOptionHighlight]="search"
          >{{ getFio(item) }}</span
        >
      </ng-template>
    </ng-select>
    <ng-select
      [items]="productsOnTasks()"
      [bindValue]="'id'"
      [bindLabel]="'description'"
      [multiple]="true"
      [closeOnSelect]="false"
      placeholder="Товары"
      appendTo="body"
      [(ngModel)]="selectedProductIds"
      (ngModelChange)="doFilter$.next()"
    ></ng-select>

  </div>
  <section class="dashboards" cdkDropListGroup>
    <ng-container *ngFor="let column of columns()">
      <app-task-item
        *ngLet="(column.id | tasksByColumn)()
         | filteredTasks : {selectedClientOnTaskId, selectedTaskExecutionerId, selectedProductIds} as filteredTasks"
        class="dashboard"
        [tasks]="filteredTasks"
        [columnID]="column.id"
        cdkDropList
        [cdkDropListData]="filteredTasks"
        (cdkDropListDropped)="dropTask($event, column.id)"
        [id]="TaskState.New.toString()"
      >
      </app-task-item>
    </ng-container>
  </section>
</div>
