:host {
  display: block;
  height: 100%;
}

.wrapper {
  height: 100%;
  width: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.dashboards {
  height: 100%;
  display: flex;
  column-gap: 2rem;
  .dashboard {
    flex: 1 1 0;
  }
}

.settings-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  position: sticky;
  left: 10px;
  width: fit-content;
  & > *:not(:first-child) {
    margin-left: 10px;
  }
  & ng-select {
    min-width: 200px;
    max-width: 300px;
  }
}

.addColumnBtn {
  background-color: transparent;
  align-self: flex-start;
  margin-top: 5px;
}
