<section class="wrapper">
  <ngx-datatable
    class="material table"
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="50"
    [scrollbarV]="true"
    [scrollbarH]="true"
    [rows]="products()"
  >
    <ngx-datatable-column [prop]="'id'" name="Идентификатор" [cellTemplate]="textTemplate" [flexGrow]="1" [resizeable]="false" [sortable]="false"> </ngx-datatable-column>
    <ngx-datatable-column [prop]="'description'" name="Описание" [cellTemplate]="textTemplate" [flexGrow]="1" [resizeable]="false" [sortable]="false"> </ngx-datatable-column>
    <ngx-datatable-column [prop]="'price'" name="Цена" [cellTemplate]="priceTemplate" [flexGrow]="1" [resizeable]="false"></ngx-datatable-column>
  </ngx-datatable>
</section>

<ng-template #textTemplate let-row="row" let-value="value">
  <span class="cellText" [matTooltip]="value">{{value}}</span>
</ng-template>

<ng-template #priceTemplate let-row="row" let-value="value">
  <span class="cellText" [matTooltip]="value + '₽'">{{value + '₽'}}</span>
</ng-template>
