
<h2 style="text-align: center">Регистрация</h2>

<form class = "authorization" [formGroup]="form" (submit)="submitForm()">

  <div class="formControl">
    <mat-form-field>
      <mat-label>Логин</mat-label>
      <input
        formControlName = "login"
        matInput
      >
    </mat-form-field>
    <app-error-validation *ngIf="form.get('login')?.invalid && form.get('login')?.touched"
                          [errors]="form.get('login')?.errors"></app-error-validation>
  </div>

  <div class="formControl">
    <mat-form-field>
      <mat-label>Почта</mat-label>
      <input
        formControlName = "email"
        matInput
      >
    </mat-form-field>
    <app-error-validation *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
                          [errors]="form.get('email')?.errors"></app-error-validation>
  </div>

  <div class="mb-3" *ngIf="mode === 'admin'">
    <label for="roleFormControl" class="form-label">Роль</label>
    <select
      class="form-select"
      id="roleFormControl"
      formControlName = "role"
    >
      <option [value]="AccountRole.Admin">Админ</option>
      <option [value]="AccountRole.Manager">Менеджер</option>
      <option [value]="AccountRole.Client">Клиент</option>
    </select>
    <app-error-validation *ngIf="form.get('role')?.invalid && form.get('role')?.touched"
                          [errors]="form.get('role')?.errors"></app-error-validation>
  </div>

  <button class="btn btn-primary enterBtn"
          [disabled]="form.invalid">Создать</button>
</form>
