
.textMsgWrapper {
  display: grid;
  align-items: end;
  column-gap: 5px;

  &__text {
    margin: 0;
    display: inline-block;
    white-space: pre-line;
  }

  &__date {
    justify-self: end;
    font-size: 12px;
  }
}

.systemMsgWrapper {
  text-align: center;
  &__text {
    text-align: center;
    color: gray;
  }
}

.file {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  cursor: pointer;
  .iconWrapper {
    grid-row: 1 / span 2;
    .icon {
      font-size: 35px;
      height: 35px;
      width: 35px;
    }
  }
  .link {
    color: #100f0fcf;
    text-decoration: none;
    font-size: 12px;
  }
  .size {
    color: #e7d8d8c9;
  }
}

.img {
  max-width: 100%;
}
