:host{
  height: 100%;
}

.chat {
  height: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 10px;
  &__messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 0.5rem;
  }
  &__message {
    display: inline-block;
    padding: 5px;
    max-width: 80%;
    min-width: 8%;
    border: 1px solid rgba(0,0,0,.1490196078);
    border-radius: 1rem;
    text-align: left;
    word-break: break-word;
    margin-bottom: 0.5rem;
    &-wrapper {
      display: grid;
      align-items: end;
      column-gap: 5px;
      grid-template-areas:
        "message message datе";
       &__text {
         margin: 0;
         display: inline-block;
         grid-area: message;
      }
       &__date {
         grid-area: datе;
         font-size: 12px;
       }
    }
  }
  &__sendMsg {
    resize:none;
    max-height:145px;
    width: 100%;
    padding:0;
  }
  &__myMsg {
    align-self: flex-end;
    background-color: #109cf1;
    color: #fff;
  }

  &__companionMsg {
    align-self: flex-start;
    .chat__message-wrapper__date {
      color: #b2b2bd;
    }
  }

  &__systemMsg {
    width: 100%;
    max-width: 100%;
    border: none;
  }

  &__btnContainer {
    width: 100%;
    display: flex;
    column-gap: 3px;
      button {
        flex: 1;
      }
  }
}

.btn_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;

  .leaveBtn {
    font-size: 24px;
    color: gray;
    &:hover {
      cursor: pointer;
      color: black;
    }
  }
}

.textMsgArea {
  display: flex;
  gap: 10px;
  .sendMsgBtn {
    align-self: flex-end;
    font-size: 24px;
    color: gray;
  }
}

.msgNotEmpty {
  color: black !important;
  &:hover {
    cursor: pointer;
  }
}

.spinner {
  margin: auto auto;
}
