<section class="chat">
  <ul class="chat__messages" #msgList>
    <li *ngFor="let message of messages()"
        class="chat__message"
        [ngClass]="{
          'chat__myMsg': message.mine,
          'chat__companionMsg': !message.mine
        }"
    >
      <div class="chat__message-wrapper">
        <span class="chat__message-wrapper__text">{{message.message}}</span>
        <span class="chat__message-wrapper__date">{{message.dateTime | date: 'HH:mm'}}</span>
      </div>
    </li>
  </ul>

  <ng-container
    [ngSwitch]="chat | getChatType">

    <div class="form-group"
         *ngSwitchCase="'My'"
    >
      <textarea appTextareaResize
                class="chat__sendMsg form-control"
                [(ngModel)] = "msgValue"
                [placeholder]="'Введите сообщение...'"
                (keydown)="pressKey($event)"
      ></textarea>
    </div>

    <div class="chat__btnContainer"
         *ngSwitchCase="'Free'"
    >
      <button
        class="btn btn-success"
        (click)="joinChat()"
      >Принять</button>
      <button
        class="btn btn-danger"
      >Отклонить</button>
    </div>
  </ng-container>


</section>
