<div class="wrapper">
  <section class="headerSection">
    <h1 mat-dialog-title>Удалить колонку "{{column?.name}}"??</h1>
    <button mat-dialog-close class="closeBtn" mat-icon-button><mat-icon>close</mat-icon></button>
  </section>
  <section mat-dialog-content>Это действие удалит колонку, и его нельзя отменить.</section>
  <section class="btnSection" mat-dialog-actions>
    <button class="deleteBtn" color="primary" mat-flat-button mat-dialog-close (click) = "deleteColumn()">Удалить</button>
    <button class="cancelBtn" color="warn" mat-flat-button mat-dialog-close>Отмена</button>
  </section>
</div>
