
<div class="wrapper">
<section class="dashboards" cdkDropListGroup>
    <!--New-->
        <app-task-item
                class="dashboard"
                [tasks]="newTasks()"
                [header]="'Новые'"
                cdkDropList
                [cdkDropListData]="newTasks()"
                (cdkDropListDropped)="dropTask($event, TaskState.New)"
        >
        </app-task-item>

    <!--Pause-->
    <app-task-item
            class="dashboard"
            [tasks]="pausedTasks()"
            [header]="'Приостановленные'"
            cdkDropList
            [cdkDropListData]="pausedTasks()"
            (cdkDropListDropped)="dropTask($event, TaskState.Pause)"
    >
    </app-task-item>

    <!--InProgress-->
    <app-task-item
            class="dashboard"
            [tasks]="inProgressTasks()"
            [header]="'В работе'"
            cdkDropList
            [cdkDropListData]="inProgressTasks()"
            (cdkDropListDropped)="dropTask($event, TaskState.InProgress)"
    >
    </app-task-item>

    <!--Done-->
    <app-task-item
            class="dashboard"
            [tasks]="doneTasks()"
            [header]="'Выполненные'"
            cdkDropList
            [cdkDropListData]="doneTasks()"
            (cdkDropListDropped)="dropTask($event, TaskState.Done)"
    >
    </app-task-item>

    <!--Archived-->
    <app-task-item
            class="dashboard"
            [tasks]="archivedTasks()"
            [header]="'Архив'"
            cdkDropList
            [cdkDropListData]="archivedTasks()"
            (cdkDropListDropped)="dropTask($event, TaskState.Archived)"
    >
    </app-task-item>
    </section>
</div>
