
<ng-container *ngLet="userID$ | async as userID">
  <tabset>
    <tab heading="Установка пароля"
         [disabled] = "passwordSet"
         >
      <app-set-password
        [userID]="userID"
        [mode]="'create'"
        (passwordSet$) = "passwordSet = true; tabProfile.disabled = false; tabProfile.active = true"
      ></app-set-password>
    </tab>
    <tab heading="Информация о пользователе" #tabProfile="tab"
         [disabled] = "!passwordSet">
      <app-manage-profile [mode]="'create'"></app-manage-profile>>
    </tab>
  </tabset>
</ng-container>
