<div class="wrapper">
  <section class="headerSection">
    <h1 mat-dialog-title>Прервать создание задачи?</h1>
    <button mat-dialog-close class="closeBtn" mat-icon-button matDialogClose><mat-icon>close</mat-icon></button>
  </section>
  <section mat-dialog-content>При закрытии окна все данные будут утеряны</section>
  <section class="btnSection" mat-dialog-actions>
    <button class="deleteBtn" color="primary" mat-flat-button (click) = "resetTaskCreation()">Закрыть</button>
    <button class="cancelBtn" color="warn" mat-flat-button mat-dialog-close>Отмена</button>
  </section>
</div>
