:host {
  overflow-y: scroll;
}

.chats{
  display: grid;

  &__list{
    list-style: none;
    padding: 0;
    overflow: hidden;
  }

  &__item{
    cursor: pointer;
    border-radius: 6px;
    padding: 0.8em;
    &-selected{
      background-color: #1c6ae1;
      color: #FFF;
    }
    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__dialog {
    height: 67vh;
    position: sticky;
    top: 25vh;
  }

  &__hidden{
    display: none;
  }
}

.dialogOpened {
  grid-template-columns: 1fr 2fr;
}

