:host {
  overflow-y: scroll;
}

.wrapper {
  padding-top: 1rem;
}

.chats{
  display: grid;
  column-gap: 15px;
  row-gap: 15px;

  &__list{
    list-style: none;
    padding: 0;
    overflow: hidden;
  }

  &__item{
    cursor: pointer;
    border-radius: 6px;
    padding: 0.8em;
    margin-bottom: 0.3rem;
    &-selected{
      background-color: #1c6ae1;
      color: #FFF;
    }
    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-date {
      width: 100%;
      display: block;
      text-align: end;
    }
  }

  &__dialog {
    height: 67vh;
    position: sticky;
    top: 25vh;
    border-top: 0.5px solid grey;
    padding-top: 0.8rem;
  }

  &__hidden{
    display: none;
  }
}

.dialogOpened {
  grid-template-columns: 1fr 2fr;
}

