<div class="wrapper">
  <section class="chats"
   [ngClass]="{
      dialogOpened: selectedChatID
   }"
  >
        <ul
          class="chats__list"
          [ngSwitch]="tabType"
          *ngLet = "chats ? chats() : [] as chats">
          <ng-container>
            <li
              class="chats__item card"
              [ngClass]="{
               'chats__item-selected': selectedChatID && selectedChatID === chat.id
              }"
              *ngFor="let chat of chats"
              (click) = "openDialogMessage(chat.id)">
              <section>
                <h3>{{chat.name}}</h3>
                <p class="chats__item-text">{{chat?.lastMessage?.message}}</p>
                <span
                  class="chats__item-date"
                  [style.color]="selectedChatID && selectedChatID === chat.id ? 'unset' : 'grey'"
                >{{chat?.lastMessage?.dateTime | date: 'HH:mm'}}</span>
              </section>
            </li>
          </ng-container>
        </ul>
    <section #dialog class="chats__hidden chats__dialog">
      <app-message-dialog
        [chatID] = "selectedChatID"
        [chatType]= "tabType"
      ></app-message-dialog>
    </section>
  </section>
</div>
