
<form
  *ngIf = "mode === 'create'; else changePassword"
  class="setPasswordForm" (submit)="setPassword()">

  <div class="formControl">
    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input
        #setPasswordInput
        [formControl]="passwordControl"
        type="password"
        matInput
      >
      <button
        type="button"
        mat-icon-button matSuffix
        (click)="changePasswordVisibility(setPasswordInput)"
        [disabled] = "!passwordControl.value"
      >
        <mat-icon>{{setPasswordInput.type === 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
    <app-error-validation *ngIf="passwordControl.invalid && passwordControl.touched"
                          [errors]="passwordControl.errors"></app-error-validation>
  </div>

  <div class="formControl">
    <mat-form-field>
      <mat-label>Подтвердите пароль</mat-label>
      <input
        #repeatPasswordInput
        [formControl]="repeatPasswordControl"
        type="password"
        matInput
      >
      <button
        type="button"
        mat-icon-button matSuffix
        (click)="changePasswordVisibility(repeatPasswordInput)"
        [disabled] = "!repeatPasswordControl.value"
      >
        <mat-icon>{{repeatPasswordInput.type === 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
    <app-error-validation *ngIf="repeatPasswordControl.invalid && (repeatPasswordControl.dirty || repeatPasswordControl.touched)"
                          [errors]="repeatPasswordControl.errors"></app-error-validation>
  </div>

  <button
    class="btn btn-primary enterBtn"
    [disabled]="passwordControl.invalid || repeatPasswordControl.invalid"
  >Задать пароль</button>
</form>

<ng-template
#changePassword
>
  <form
    *ngIf="mode === 'change'; else recoverPassword"
    [formGroup]="changePasswordForm"
    (submit)="setPassword()"
    class="authorization">

    <h2>Смена пароля</h2>

    <div class="formControl">
      <mat-form-field>
        <mat-label>Старый пароль</mat-label>
        <input
          #oldPasswordInput
          formControlName = "oldPassword"
          type="password"
          matInput
        >
        <button
          type="button"
          mat-icon-button matSuffix
          (click)="changePasswordVisibility(oldPasswordInput)"
          [disabled] = "!changePasswordForm.get('oldPassword')?.value"
        >
          <mat-icon>{{oldPasswordInput.type === 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>
      <app-error-validation *ngIf="changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.touched"
                            [errors]="changePasswordForm.get('oldPassword')?.errors"></app-error-validation>
    </div>

    <div class="formControl">
      <mat-form-field>
        <mat-label>Новый пароль</mat-label>
        <input
          #newPasswordInput
          type="password"
          formControlName = "newPassword"
          matInput
        >
        <button
          type="button"
          mat-icon-button matSuffix
          (click)="changePasswordVisibility(newPasswordInput)"
          [disabled] = "!changePasswordForm.get('newPassword')?.value"
        >
          <mat-icon>{{newPasswordInput.type === 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>
      <app-error-validation *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched"
                            [errors]="changePasswordForm.get('newPassword')?.errors"></app-error-validation>
    </div>

    <button
      class="btn btn-primary enterBtn"
      [disabled]="changePasswordForm.invalid"
    >Сменить пароль</button>
  </form>
</ng-template>


<ng-template #recoverPassword>
  <form (submit)="setPassword()">
    <h2>Восстановление пароля</h2>
    <div class="formControl">
      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input
          #setPasswordInput
          [formControl]="passwordControl"
          type="password"
          matInput
        >
        <button
          type="button"
          mat-icon-button matSuffix
          (click)="changePasswordVisibility(setPasswordInput)"
          [disabled] = "!passwordControl.value"
        >
          <mat-icon>{{setPasswordInput.type === 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>
      <app-error-validation *ngIf="passwordControl.invalid && passwordControl.touched"
                            [errors]="passwordControl.errors"></app-error-validation>
    </div>

    <button
      class="btn btn-primary enterBtn"
      [disabled]="passwordControl.invalid"
    >Задать новый пароль</button>
  </form>
</ng-template>
