
<form
  *ngIf = "mode === 'create'; else changePassword"
  class="authorization" (submit)="setPassword()">
  <div class="mb-3">
    <label for="loginFormControl" class="form-label">Пароль</label>
    <input
      [(ngModel)]="password"
      [ngModelOptions]="{standalone: true}"
      class="form-control"
      id="loginFormControl"
      placeholder="Введите пароль"
    >
  </div>
  <button
    class="btn btn-primary enterBtn"
  >Задать пароль</button>
</form>

<ng-template
#changePassword
>
  <form
    [formGroup]="changePasswordForm"
    (submit)="setPassword()"
    class="authorization">
    <div class="mb-3">
      <label for="loginFormControl" class="form-label">Старый пароль</label>
      <input
        [formControlName]="'oldPassword'"
        class="form-control"
        id="loginFormControl"
      >
    </div>

    <div class="mb-3">
      <label for="loginFormControl" class="form-label">Новый пароль</label>
      <input
        [formControlName]="'newPassword'"
        class="form-control"
        id="loginFormControl"
      >
    </div>
    <button
      class="btn btn-primary enterBtn"
    >Сменить пароль</button>
  </form>
</ng-template>
