:host{
  position: relative;
  height: 100vh;
}

.navigation {
 height: 45px;
 position: sticky;
 top: 0;
 z-index: 100;
 display: flex;
 background-color: #f8f9fe;
 justify-content: flex-end;
 align-items: baseline;
 padding-right: 1.5rem;
  .activeLink {
    color: cornflowerblue;
  }
  .profileBtn {
    display: flex;
  }

}
.wrapperForSideBarAndContent {
  display: flex;
  .sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
  }
  .contentWrapper{
    height: calc(100vh - 45px);
    padding: 5%;
    padding-bottom: 0;
    flex-grow: 1;
    overflow: hidden;
  }
}


.dropdown li:hover{
  cursor: pointer;
}


.activeBtnLink {
  color: black !important;
}

.disabledBtnLink {
  color: #ababab;
}

