
<nav class="navigation"
     *ngLet="isAuthorized$ | async as isAuthorized"
>
  <a
    *ngIf = "isAdmin$ | async"
    class="btn"
    [routerLink]="['authentication', 'registration']"
    [routerLinkActive] = "'activeLink'"
  >Создать пользователя</a>
  <a
    *ngIf = "isAuthorized"
    class="btn"
    [routerLink]="['main']"
    [routerLinkActive] = "'activeLink'"
  >Главная</a>
  <div
    *ngIf = "isAuthorized"
    class="btn-group profileBtn" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
            aria-controls="dropdown-basic">
      <i class="bi bi-person-fill icon"></i>
      <span class="caret"></span>
    </button>
    <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown"
        role="menu" aria-labelledby="button-split">
      <li role="menuitem"><a [routerLink]="['profile']" class="dropdown-item" href="#">Профиль</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a [routerLink]="['profile', 'changePassword']" class="dropdown-item" href="#">Сменить пароль</a>
      <li role="menuitem"><a class="dropdown-item" (click) = "signOut()"><i class="bi bi-arrow-left-square-fill"></i> Выйти</a>
      </li>
    </ul>
  </div>
</nav>

<div class="contentWrapper">
  <router-outlet></router-outlet>
</div>
