

<div class="wrapper" *ngIf="(role$ | async) !== AccountRole.Client">
  <h2 class="title">Диалоги</h2>

  <tabset *ngIf = "profile(); else noProfileTemplate">

    <tab #tabInbox="tab"
    >
      <ng-template tabHeading>
        <span
          *ngLet="('Inbox' | unreadChats)() as unreadChatsNumber"
              [matBadge]="unreadChatsNumber"
              [matBadgeHidden] = "!unreadChatsNumber"
              [matBadgeSize]="'small'"
        >Входящие</span>
      </ng-template>
      <app-messages-list
        [tabType]="'Inbox'"></app-messages-list>
    </tab>

    <tab #tabMine="tab">
      <ng-template tabHeading>
        <span
          *ngLet="('Mine' | unreadChats)() as unreadChatsNumber"
          [matBadge]="unreadChatsNumber"
          [matBadgeHidden] = "!unreadChatsNumber"
          [matBadgeSize]="'small'"
        >Мои</span>
      </ng-template>
      <app-messages-list
        [selectedChatID]="selectedTab?.heading === 'Мои' ? (selectedTab?.chat?.id ?? undefined) : undefined"
        [tabType]="'Mine'"></app-messages-list>
    </tab>

    <tab heading="Архив" #tabArchive="tab">
      <app-messages-list
        [tabType]="'Archive'"
      ></app-messages-list>
    </tab>

    <tab heading="Заблокированные" #tabBlocked="tab">
      <app-messages-list
        [tabType]="'Block'"
      ></app-messages-list>
    </tab>
  </tabset>


  <ng-template #noProfileTemplate>

    <section class="noProfile">
      <p class="noProfileText">Диалоги не доступны, пока не создан профиль</p>

      <button class="btn btn-primary"
      [routerLink]="['/profile']"
      >Создать профиль</button>
    </section>
  </ng-template>
</div>
