

<div class="wrapper" *ngIf="(role$ | async) !== AccountRole.Client">
  <h2 class="title">Диалоги</h2>

  <tabset *ngIf = "profile(); else noProfileTemplate">

    <tab heading="Входящие" #tabInbox="tab"
         (selectTab)="inboxMessagesList.activateTab();"
         (deselect)="deselectTab(tabInbox)">
      <app-messages-list #inboxMessagesList
        [tabType]="'Inbox'"
        (selectedChatIDChange)="changeSelectedChat($event, tabInbox.heading!)"
      ></app-messages-list>
    </tab>

    <tab heading="Мои" #tabMine="tab"
         (selectTab)="myMessagesList.activateTab();"
         (deselect)="deselectTab(tabMine)">
      <app-messages-list #myMessagesList
        [selectedChatID]="selectedTab?.heading === 'Мои' ? (selectedTab?.chat?.id ?? undefined) : undefined"
        (selectedChatIDChange)="changeSelectedChat($event, tabMine.heading!)"
        [tabType]="'Mine'"></app-messages-list>
    </tab>

    <tab heading="Архив" #tabArchive="tab">
      <app-messages-list
        [tabType]="'Archive'"
      ></app-messages-list>
    </tab>

    <tab heading="Заблокированные" #tabBlocked="tab">
      <app-messages-list
        [tabType]="'Block'"
      ></app-messages-list>
    </tab>
  </tabset>


  <ng-template #noProfileTemplate>

    <section class="noProfile">
      <p class="noProfileText">Диалоги не доступны, пока не создан профиль</p>

      <button class="btn btn-primary"
      [routerLink]="['/profile']"
      >Создать профиль</button>
    </section>
  </ng-template>
</div>
