
<section
  class="wrapper"
  *ngLet="profile$ | async as profile">
  <button
    *ngIf="mode !== 'create' && profile?.id === myProfile()?.id"
    [matTooltip]="mode === 'change' ? 'Выйти из редактирования' : 'Изменить'"
    id="button-basic" type="button" class="btn editProfile" (click) = "changeMode()">
    <i class="bi bi-pencil-square icon"></i>
  </button>
  <form class = "authorization" [formGroup]="form" (submit)="submitForm()">
    <div class="formControl">
      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input
          formControlName = "surname"
          matInput
        >
      </mat-form-field>
      <app-error-validation *ngIf="form.get('surname')?.invalid && form.get('surname')?.touched"
                            [errors]="form.get('surname')?.errors"></app-error-validation>
    </div>

    <div class="formControl">
      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input
          formControlName = "name"
          matInput
        >
      </mat-form-field>
      <app-error-validation *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
                            [errors]="form.get('name')?.errors"></app-error-validation>
    </div>

    <div class="formControl">
      <mat-form-field>
        <mat-label>Отчество</mat-label>
        <input
          formControlName = "patronimic"
          matInput
        >
      </mat-form-field>
      <app-error-validation *ngIf="form.get('patronimic')?.invalid && form.get('patronimic')?.touched"
                            [errors]="form.get('patronimic')?.errors"></app-error-validation>
    </div>



    <div class="formControl">
      <mat-form-field hintLabel="Максимум 255 символов">
        <mat-label>О себе</mat-label>
        <textarea
          #aboutControl
          formControlName = "about"
          matInput
          rows="10"
          maxlength="255"
          [style.resize]="'none'"
        ></textarea>
        <mat-hint align="end">{{aboutControl.value.length}}/255</mat-hint>
      </mat-form-field>
    </div>

    <ng-container *ngIf="myProfile()?.role === AccountRole.Manager">
      <mat-divider></mat-divider>

      <div class="formControl">
        <mat-form-field>
          <mat-label>Приветственное сообщение</mat-label>
          <input
            formControlName = "startMessage"
            matInput
          >
        </mat-form-field>
        <app-error-validation *ngIf="form.get('startMessage')?.invalid && form.get('startMessage')?.touched"
                              [errors]="form.get('startMessage')?.errors"></app-error-validation>
      </div>

      <div class="formControl">
        <mat-form-field>
          <mat-label>Прощальное сообщение</mat-label>
          <input
            formControlName = "endMesssage"
            matInput
          >
        </mat-form-field>
        <app-error-validation *ngIf="form.get('endMesssage')?.invalid && form.get('endMesssage')?.touched"
                              [errors]="form.get('endMesssage')?.errors"></app-error-validation>
      </div>
    </ng-container>

    <button
      *ngIf="mode === 'change' || mode === 'create'"
      class="btn btn-primary enterBtn"
      [disabled]="form.invalid || (mode === 'change' ? !(infoHasChanged$ | async) : false)"
    >
      {{ mode === 'change' ? 'Сохранить изменения' : 'Создать профиль'}}
    </button>
  </form>
</section>
