@import "./assets/styles/form";
@import "./assets/styles/modal";
@import "./assets/styles/accordion";
@import "./assets/styles/scroll";
@import "./assets/styles/mat-menu";
@import "./assets/styles/mat-button";
@import "./assets/styles/textarea";
@import "bootstrap-icons/font/bootstrap-icons";
@import "./assets/styles/mat-spinner";
@import "./assets/styles/mat-tab";
@import "./assets/styles/ngx-datatable";
@import "./assets/styles/gridster";
@import "../node_modules/@swimlane/ngx-datatable/index.scss";
@import "../node_modules/@swimlane/ngx-datatable/themes/material.scss";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";

@include form();
@include modal();
@include accordion();
@include scroll();
@include mat-button();
@include textArea();
@include gridster();

body {
  .icon {
    font-size: 1.3rem;
  }
  overflow-x: hidden;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.smileMenu {
  border: 1px solid #c4b2b2;

  .mat-mdc-menu-content {
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    padding: 0 10px;
  }
}

.disable-backdrop-click
  .cdk-overlay-backdrop.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  pointer-events: none;
}
